/* Global styles */
body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 10%;
    font-family: Arial, sans-serif;
}

/* Game layout */
#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Responsive width */
    max-width: 50vw; /* Increased max width for larger screens */
}

/* Board */
#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    width: 100%;
    aspect-ratio: 1;
    max-width: 100%; 
    max-height: 100%;
    grid-row-gap: 0; 
    grid-column-gap: 1%;
}

/* Hexagon tiles */
.hex {
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    background-color: #888;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 100%;
    margin: 0;
}

.hex::after {
    content: attr(data-notation);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFD700;
    z-index: 10;
    pointer-events: none;
}

.hex.even-row {
    transform: translateX(50%);
}

/* Game pieces */
.piece, .tile {
    position: absolute;
}

.piece {
    width: 50%; 
    height: 45%;
    border-radius: 50%;
    border: 0.3vw solid #7f7474;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece.white { background-color: rgb(255, 255, 255); }
.piece.black { background-color: rgb(0, 0, 0); }

.piece.ring {
    width: 80%;
    height: 70%; 
    border-radius: 50%;
    border: 0.3vw solid #7f7474;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece.ring.white {
    background: radial-gradient(circle at center, #7f7474 0, #7f7474 40%, #ffffff 40%);; 
    mask-size: cover; 
    mask-image: radial-gradient(circle at center, transparent 0, transparent 30%, #ffffff 40%);
}

.piece.ring.black {
    background: radial-gradient(circle at center, #7f7474 0, #7f7474 40%, #000000 40%);
    mask-size: cover; 
    mask-image: radial-gradient(circle at center, transparent 0, transparent 30%, #000000 40%);
}

#controls{
    font-size: 100%;
    display: flex run-in;
    flex-wrap: wrap;
    margin-top: 5%;
    color: white;
}

#player-info {
    font-size: 100%;
    display: grid;
    flex-wrap: wrap;
    margin-top: 5%;
    color: white;
}

/* Buttons */
button {
    font-size: 100%;
    margin: 3%;
    padding: 3%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3%;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button.selected-action {
    background-color: #45a049;
    font-weight: bold;
    border: 0.3vw solid #ffffff;
}

/* Editor button styles */
.editor-button {
    margin: 3%;
    padding: 3%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3%;
    cursor: pointer;
}

.editor-button:hover {
    background-color: #45a049;
}

.editor-button.selected {
    background-color: #45a049;
    font-weight: bold;
    border: 0.3vw solid #ffffff;
}

.editor-button span {
    font-size: 100%;
    color: white;
    display: flex;
    word-wrap: break-word;
}

/* Game over overlay */
#game-over {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10%;
    text-align: center;
    z-index: 1000;
}

#game-over h2 { margin-top: 0; }
#game-over button { margin-top: 10%; }

/* Tiles */
.tile {
    width: 100%; 
    height: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 1;
}

.tile.white { background-color: #ffffff;}
.tile.black { background-color: #000000;}

.highlight-indicator {
    position: absolute;
    width: 90%; 
    height: 80%; 
    border-radius: 50%;
    border: 0.3vw solid #15ff00; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: transparent;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 12;
}

/* Modal styles */
.modal {
    display: none;
    z-index: 1000; 
    left: 0;
    top: 0;
    overflow: auto; 
}

.modal-content {
    background-color: white;
}

.close-button {
    color: #aaa;
    float: left;
    font-size: 100%;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
